NODE_ENV = development
 
PORT = 5000

#Production
DB_USERNAME =
DB_PASSWORD =
DB_NAME =
DB_HOST =
DB_PORT =
DB_DIALECT =
 
JWT_SECRET_ADMIN = @_+BASE$_+03+_$Project$_+05+_$Admin$_+2025+_@
JWT_SECRET_CLIENT = @_+BASE$_+03+_$Project$_+05+_$Client$_+2025+_@
